{{!-- <header>
	<h1>haku</h1>
</header> --}}

<main>
	{{outlet}}
</main>

<footer>
	<p><strong>Haku</strong> &dot; Generate color palettes from images &dot; <a href="http://46.101.253.25/" title="The API behind this project, use at will!">API</a> &dot; <a href="http://oskarrough.com">By Oskar Rough</a></p>
</footer>
